# Explorando valores numéricos

## Objetivo: Selecionar valores numéricos e aprender a visualizar informações básicas.

In [1]:
import os
import pandas as pd

repo_dir = os.path.abspath(os.path.join(os.getcwd(), ".."))
file_patch = os.path.join(repo_dir, "materiais", "survey_results_public.csv")
df = pd.read_csv(file_patch, index_col="ResponseId")
df

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,5,...,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,5,...,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,33,...,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

### Selecionando colunas de um tipo de dado

Para pegar apenas as colunas de um determinado tipo de dado, podemos usar:

In [2]:
df.select_dtypes('float')

,CompTotal,VCHostingPersonal use,VCHostingProfessional use,WorkExp,ConvertedCompYearly
ResponseId,,,,,
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,32000.0,NaN,NaN,NaN,40205.0
4,60000.0,NaN,NaN,NaN,215232.0
5,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
73264,60000.0,NaN,NaN,5.0,NaN
73265,107000.0,NaN,NaN,6.0,NaN
73266,NaN,NaN,NaN,42.0,NaN
73267,58500.0,NaN,NaN,NaN,NaN
73268,NaN,NaN,NaN,NaN,NaN

Note que apenas as colunas com tipo de dado `float` foram selecionadas.

**Atenção**: esse método distingue `int` de `float`!

In [3]:
df.select_dtypes('int')

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, ...]

[73268 rows x 0 columns]

Para selecionar todas as colunas numéricas, utilize `number`:

In [4]:
df.select_dtypes('number')

,CompTotal,VCHostingPersonal use,VCHostingProfessional use,WorkExp,ConvertedCompYearly
ResponseId,,,,,
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,32000.0,NaN,NaN,NaN,40205.0
4,60000.0,NaN,NaN,NaN,215232.0
5,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
73264,60000.0,NaN,NaN,5.0,NaN
73265,107000.0,NaN,NaN,6.0,NaN
73266,NaN,NaN,NaN,42.0,NaN
73267,58500.0,NaN,NaN,NaN,NaN
73268,NaN,NaN,NaN,NaN,NaN

### Descrevendo colunas numéricas

Podemos usar `df.describe()` para obter estatísticas básicas das colunas numéricas (note que, por padrão, este método já ignora as colunas de tipo `object`):

In [5]:
df.describe()

,CompTotal,VCHostingPersonal use,VCHostingProfessional use,WorkExp,ConvertedCompYearly
count,3.842200e+04,0.0,0.0,36769.000000,3.807100e+04
mean,2.342434e+52,NaN,NaN,10.242378,1.707613e+05
std,4.591478e+54,NaN,NaN,8.706850,7.814132e+05
min,0.000000e+00,NaN,NaN,0.000000,1.000000e+00
25%,3.000000e+04,NaN,NaN,4.000000,3.583200e+04
50%,7.750000e+04,NaN,NaN,8.000000,6.784500e+04
75%,1.540000e+05,NaN,NaN,15.000000,1.200000e+05
max,9.000000e+56,NaN,NaN,50.000000,5.000000e+07

As colunas não estão muito informativas.

Como vimos anteriormente, as colunas `VCHostingPersonal use` e `VCHostingProfessional use` possuem apenas valores nulos.

Além disso, `CompTotal` é apenas a compensação (salário) em dinheiro local: o valor convertido dólares está em `ConvertedCompYearly`.

Podemos selecionar apenas as colunas de interesse, antes de chamar o método `df.describe()`:

In [6]:
df[['WorkExp', 'ConvertedCompYearly']].describe()

            WorkExp  ConvertedCompYearly
count  36769.000000         3.807100e+04
mean      10.242378         1.707613e+05
std        8.706850         7.814132e+05
min        0.000000         1.000000e+00
25%        4.000000         3.583200e+04
50%        8.000000         6.784500e+04
75%       15.000000         1.200000e+05
max       50.000000         5.000000e+07

Para melhorar ainda mais, vamos arredondar os números dessa tabela:

In [7]:
df[['WorkExp', 'ConvertedCompYearly']].describe().round(2)

        WorkExp  ConvertedCompYearly
count  36769.00             38071.00
mean      10.24            170761.28
std        8.71            781413.24
min        0.00                 1.00
25%        4.00             35832.00
50%        8.00             67845.00
75%       15.00            120000.00
max       50.00          50000000.00

Com esses dados, conseguimos ver que:
- A média de tempo de experiência de trabalho é de 10 anos
- A compensação anual média é de 170 mil USD (cerca de 14 mil USD por mês)
- Para ambas as colunas, a mediana (50%) está menor que a média. Isto significa que valores altos estão "puxando" a média para cima de forma desproporcional, causando uma distribuição assimétrica, com cauda para a direita.

Vamos explorar estas relações de forma gráfica na próxima aula!

Aliás, lembra que algumas dessas colunas contém valores nulos? Se você estiver se perguntando o que aconteceu com eles, leia a [documentação](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html) do método `df.describe()`.